<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	PyaeNniM4p3m4gA91mI8gA7ws3017cImL1rcLJuh6HpclyTUj5R9msgoHdA6at6gT1qs
	jgodXdKrH497/qKnfbKj4gxlhCZ1QiyU8yNHhtXwIOAuyqAprN6zV4JspU3E33om3jc7
	06a7Lzx+8hDDM4ltTr+2ooSDddRCqx+6X00=
	</data>
</dict>
</plist>
