<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>rocket.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Shell Script File</key>
			<string>nvUltra.rb</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.multimarkdown.nvultra</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://nvultra.com</string>
			<key>Name</key>
			<string>nvUltra</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>nvnotebook</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Label</key>
			<string>Folder</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Brett Terpstra</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a note in nvUltra.</string>
	<key>Extension Identifier</key>
	<string>com.brettterpstra.popclip.extension.nvultra</string>
	<key>Extension Name</key>
	<string>nvUltra</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
